* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    z-index: 99;
    color: white;
}
body{
    background-image: url("/FrontEnd/Asset/Web-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: rgb(51,51,51);
    font-weight: bold;
    text-align: center;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*navbar*/
.topnav {
    overflow: hidden;
    background-color: rgb(51,51,51);
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    border-radius: 20px;
}
  
  /* Navbar links */
.topnav a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    float: left;
    display: block;
    color: rgb(255,255,255);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  /* Links - change color on hover */
.topnav a:hover {
    background-color: rgb(255,255,255);
    border-radius: 20px;
    color: rgb(0,0,0);
}

.topnav .btnLogin-popup{
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid rgb(255,255,255);
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(255,255,255);
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    float: right;
    transition: 0.5s;
}
.topnav .btnLogin-popup:hover{
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
}

.wrapper{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255,255,255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: tranforms .5s ease, height 0.5s ease;
    overflow: hidden;
    transform: scale(0);
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper .active{
    height: 520px;
}
.wrapper .form-box{
    width:100%;
    padding: 40px; 
}
.wrapper .form-box.login{
    transition: transform 0.18s ease;
    transform: translateX(0);
} 
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position:absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transform: translateX(0);
    transition: transform 0.18s ease;
}
.wrapper .close-popup{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: rgb(0, 0, 0);
    font-size: 2em;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 0 20px;
    
}
.form-box h1{
    font-size: 2em;
    color: rgb(255,255,255);
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-bottom: 2px solid rgb(255,255,255);
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    bottom: -20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(255,255,255);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: rgb(255,255,255);
    font-size: 0.75em;
    font-weight: 600;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom: 3px solid rgb(255,255,255);
}

.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1em;
    color: rgb(255,255,255);
    font-weight: 600;
    padding: 0 35px 0 5;
}
.input-box i{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(255,255,255);
    line-height: 10px;
}
.forget-remember{
    font-size: 0.9em;
    color: rgb(255,255,255);
    font-weight: 500;
    margin: -15px 0 15px;
    justify-content: space-between;
    display: flex;
}
.forget-remember label input{
    accent-color: rgb(255, 0, 0);
    margin-right: 3px;

}
.forget-remember a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.forget-remember a:hover{
    text-decoration: underline;
}
.submit-register button{
    display: block;
    width: 60%;
    margin: 1em auto 1em auto;
    height: 2em;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(20, 20, 20);
    border-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    min-width:300px;
}
.submit-register p{
    font-size: 1em;
    color: rgb(255,255,255);
    font-weight: 500;
    margin: 15px 0 15px;
    justify-content: center;
    display: flex;
}
.submit-register a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding-left: 5px;
}
.submit-register a:hover{
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(80, 80, 80);/*rgb(255, 112, 124);*/
    border-radius: 0px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}