body{
    background-image: url("/FrontEnd/Asset/Web-Background.jpg");
    background-size: contain;
    background-position:bottom;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    border-style: hidden;
} 
h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}
h2{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(118, 53, 30);
    color: red;
}
button{
    border-color: rgb(80, 14, 13);
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
}
/* .header {
    opacity: 0;
    background-color: #333;
    text-align: center;
    padding: 20px;
} */
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
  /* Navbar links */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  /* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
#increment-btn{
    opacity: 0.5;
    background: rgb(80, 80, 80);
    position: static;
}
#decrement-btn{
    opacity: 0.5;
    background: rgb(80, 80, 80);
    position: relative;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(80, 80, 80);/*rgb(255, 112, 124);*/
    border-radius: 0px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}